@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
* {
    font-family: 'Poppins', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.greetings {
    font-size: 6rem;
    font-weight: 900;
}

.greetings > span {
    animation: glow 0.6s ease-in-out forwards;
    opacity: 0; /* mulai dari transparan */
}

/* Animation delay untuk tiap huruf (berurutan) */
.greetings > span:nth-child(1) { animation-delay: 0s; }
.greetings > span:nth-child(2) { animation-delay: 0.2s; }
.greetings > span:nth-child(3) { animation-delay: 0.4s; }
.greetings > span:nth-child(4) { animation-delay: 0.6s; }
.greetings > span:nth-child(5) { animation-delay: 0.8s; }
.greetings > span:nth-child(6) { animation-delay: 1s; }
.greetings > span:nth-child(7) { animation-delay: 1.2s; }
.greetings > span:nth-child(8) { animation-delay: 1.4s; }
.greetings > span:nth-child(9) { animation-delay: 1.6s; }
.greetings > span:nth-child(10) { animation-delay: 1.8s; }
.greetings > span:nth-child(11) { animation-delay: 2s; }
.greetings > span:nth-child(12) { animation-delay: 2.2s; }

@keyframes glow {
    0% {
        color: #111;
        text-shadow: none;
        opacity: 0;
    }
    100% {
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
        opacity: 1;
    }
}

/* Responsive */
@media screen and (max-width:574px) {
    .greetings {
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
}